@import "../../ui-kit/styles";

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: black;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  height: 60px;
  padding: 15px 24px;
  width: 100vw;
  background-color: $color-primary;
  box-shadow: $shadow-form;
  z-index: 2;

  &-Logo {
    @include Serif-24-regular;
    margin-left: 10%;
    color: $color-text;
    cursor: pointer;
    transition: all 0.15s;
    &:hover{
      color:  $color-text-hover;
    }
  }

  &-Menu{
    margin-right: 10%;
    &-Item{
      @include Sans-serif-16-regular;
      margin: 0px 10px 0px 0px;
      border: solid 0.5px #EAC7CC;
      border-radius: 8px;
      padding: 8px 16px;
      color: $color-darkpink;
      cursor: pointer;
      transition: ease-in-out 0.5s;

      &:hover {
        border: 0.5px solid  $color-pale;
        border-radius: 8px;
        color: white;
        background: $color-pale;
      }
    }
  }
}